* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  text-align: center;
}

header {
  padding-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

body picture {
  align-self: center;
  padding: 5px;
}

picture img[data-src] {
  filter: blur(0.2em);
}

picture img {
  display: block;
  filter: blur(0em);
  transition: filter 0.5s;
}

footer {
  font-size: 18px;
  padding: 0 20px 20px;
}
