@media (min-width: 32.5em) {
  body,
  header,
  main,
  footer {
    width: 550px;
  }

  main {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    height: 38px;
  }

  /* class selector */
  .last {
    grid-column: 1/3;
  }
}
