* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
header,
main,
footer,
picture img {
  margin: 0 auto;
}

body,
header,
main,
footer {
  font-family: "Trebuchet MS", Arial, sans-serif;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 180px;
}

header,
footer {
  background-color: #0a2032;
  text-align: center;
}

header,
section h3,
section li,
section p,
footer h4 {
  padding: 10px 1rem;
}

header h1,
header h2,
section h3,
footer h4 {
  color: #fff;
}

main {
  display: grid;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4,
p {
  font-size: 15px;
}

picture img {
  display: block;
  width: 92%;
}

section {
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 20px 20px 0 0;
  margin: 10px;
  overflow: hidden;
}

section h3 {
  background-color: #3a4958;
  height: 40px;
}
