* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
header,
main,
footer,
picture img {
  margin: 0 auto;
}

body,
header,
main,
footer {
  width: 100%;
  font-family: "Trebuchet MS";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: grid;
  grid-template-rows: 50px 50px;
  justify-items: center;
  align-items: center;
}

header,
footer {
  background-color: #0a2032;
}

header,
#footer,
.topic h3,
.topic li,
.topic p {
  padding: 10px 1rem;
}

header h1,
header h2,
.topic h3,
#footer {
  color: #fff;
}

main {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

ul li {
  list-style: none;
}

footer {
  height: 55px;
  text-align: center;
}

h1,
h2,
h3,
h4,
#footer {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4,
p {
  font-size: 15px;
}

picture img{
    display: block;
    width: 92%;
}

/* class selector */
.topic {
  margin: 10px;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.topic h3 {
  background-color: #3a4958;
  height: 40px;
}
