* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
header,
main,
footer {
  font-family: "Trebuchet MS", Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
}

body {
  background-color: #708090;
  min-height: 100vh;
  min-height: 100dvh;
  flex-direction: column;
}

body,
.colors {
  display: flex;
  justify-content: center;
}

header {
  display: grid;
}

header,
nav,
main,
footer * {
  text-align: center;
}

header,
footer,
.colors :not(:nth-child(2)) {
  background-color: #0a2032;
}

header h1,
header p,
footer *,
.colors {
  color: #fff;
}

header h1,
header p {
  padding: 10px 0 5px 0;
}

header picture {
  grid-row: 1;
  padding: 25px 0 10px;
}

nav,
.colors :nth-child(2) {
  background-color: #00a8f3;
}

nav a,
.colors :nth-child(2),
.active {
  color: #000;
}

nav,
main,
main h2,
p,
a,
main picture,
.colors {
  padding: 10px;
}

main ul li {
  padding: 11px 10px;
}

main {
  padding-bottom: 40px;
}

main,
.active {
  background-color: #fff;
}

ul li {
  list-style-type: none;
}

a,
.colors li {
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
nav,
.colors {
  font-family: "Inter", sans-serif;
}

h1,
.colors :nth-child(1) {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

header p,
nav,
h3,
.colors :not(:nth-child(1)) {
  font-size: 20px;
}

p {
  font-size: 15px;
}

footer * {
  padding-top: 12px;
}

footer p {
  padding-bottom: 15px;
}

.colors * {
  align-content: center;
  border: 1px solid #000;
}
