@media (min-width: 64em) {
  body,
  header,
  main,
  footer {
    max-width: 1000px;
  }

  header button {
    display: none;
  }

  nav ul {
    position: absolute;
    bottom: 147px;
    left: 400px;
  }

  nav ul li a {
    width: 95px;
  }

  nav ul,
  nav ul.open,
  nav ul li a {
    display: flex;
  }

  /* id selectors */
  #modified {
    border-left: 2px solid #fff;
    text-align: left;
  }

  #modified,
  .events {
    grid-row: 1;
  }

  #modified,
  .socialMedia {
    grid-column: 4;
  }

  /* class selectors */
  .home {
    grid-template-columns: 276px 1fr 276px;
  }

  .head {
    grid-template-columns: 150px 240px 1fr 120px;
  }

  .title {
    margin: auto 0;
  }

  .head .active a {
    background-color: #00a8f3;
    color: black;
  }

  .events,
  .joinbox,
  .news,
  .weather {
    grid-column: 1;
  }

  .events picture {
    top: 6%;
  }

  .hero {
    grid-row: 1/3;
  }

  .hero,
  .news {
    grid-column: 2;
  }

  .hero h2 {
    left: 10%;
  }

  .hero picture img {
    height: 100%;
  }

  .spots,
  .spot1,
  .spot2,
  .spot3 {
    display: block;
  }

  .spots {
    grid-row: 1/4;
    grid-column: 3;
  }

  .spot2,
  .spot3 {
    margin-top: 10px;
  }

  .weather {
    grid-row: 2;
  }

  .joinbox,
  .news {
    grid-row: 3;
  }

  .joinbox p,
  .events h2,
  .events h3 {
    padding: 15px 10px;
  }

  .main {
    grid-template-columns: 200px 340px 1fr;
  }

  .footer {
    grid-template-columns: 1fr 147px 123px 1fr;
  }

  .discover picture img:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }

  .join {
    grid-template-columns: 600px 1fr;
  }

  .list section a {
    width: 280px;
  }

  .list section p:nth-child(2) {
    width: 300px;
  }
}
