@media (min-width: 32.5em) {
  body,
  header,
  main,
  footer {
    width: 700px;
  }

  main,
  .main,
  .spots,
  .footer {
    display: grid;
  }

  /* id selector */
  #today,
  .section {
    width: 97%;
  }

  #year {
    text-align: right;
  }

  #modified {
    grid-column: 1/4;
    text-align: center;
  }

  /* class selector */
  .head {
    grid-template-columns: 140px 1fr 50px 50px 100px;
  }

  .hero,
  .news,
  .spots,
  .join {
    grid-column: 1/3;
  }

  .news {
    grid-row: 2;
  }

  .spots {
    grid-row: 3;
  }

  .join {
    grid-row: 4;
    display: block;
  }

  .events,
  .weather {
    grid-row: 5;
    width: 92%;
  }

  .spot2,
  .mainTitle {
    grid-column: 2;
  }

  .info,
  .location {
    grid-column: 3;
  }

  .spot1,
  .spot2 {
    height: 85%;
  }

  .main {
    grid-template-columns: 200px 250px 1fr;
    column-gap: 5px;
  }

  .main picture img {
    margin: 20px 0;
  }

  .mainTitle,
  .mainInfo {
    margin: auto;
  }

  .mainTitle,
  .footer p {
    text-align: left;
  }

  .mainInfo {
    position: relative;
  }

  .mainInfo svg {
    bottom: 22px;
    left: 0%;
  }

  .footer {
    margin-top: 10px;
    grid-template-columns: 1fr 133px 1fr;
  }

  .footer h3 {
    border-style: solid;
    border-width: 0 2px 0 2px;
  }
}
