* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
header,
main,
footer {
  width: 100%;
  margin: 0 auto;
  font-family: "Trebuchet MS";
}

body {
  vertical-align: middle;
}

header div,
footer {
  background-color: #0a2032;
}

header,
nav button,
nav ul li.active a,
footer,
.largeNav ul li a {
  color: #fff;
}

header picture,
.title {
  padding: 10px;
}

header picture img {
  height: 100px;
}

nav ul li a,
nav ul.open,
#hamburgerBtn span:nth-child(1),
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

footer {
  height: auto;
  text-align: center;
}

header svg {
  height: 25%;
}

header picture,
header svg,
#today,
.title,
.main {
  margin: auto;
}

nav {
  margin: auto 10px;
}

nav button,
nav ul li a {
  padding: 5px 10px;
}

nav button {
  background-color: transparent;
  border: 1px solid #fff;
}

nav ul {
  list-style: none;
}

nav ul li a,
.section {
  background-color: #00a8f3;
}

nav ul li a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: #00bbff33;
}

nav ul li a:hover {
  background-color: rgb(37, 150, 190);
}

nav ul,
#hamburgerBtn span:nth-child(2),
#hamburgerBtn.open span:nth-child(1),
.largeNav {
  display: none;
}

nav button.open,
#hamburgerBtn.open span:nth-child(1),
nav ul li a {
  position: relative;
  top: 48px;
}

main,
.now {
  text-align: center;
}

footer {
  padding-bottom: 10px;
}

footer picture img,
.section {
  height: 150px;
}

footer h2,
footer h3,
footer p,
#today,
.section h2 {
  padding: 5px;
}

h1,
#today {
  font-size: 25px;
}

nav button,
h2 {
  font-size: 20px;
}

h3,
p {
  font-size: 15px;
}

/* id selector */
#today {
  background-color: rgba(37, 150, 190, 0.5);
  width: 94%;
}

.mainInfo svg {
  position: absolute;
}

/* class selector */
.head {
  display: grid;
  grid-template-rows: 124px;
  grid-template-columns: 140px 135px 1fr 1fr 1fr;
  column-gap: 5px;
}

.now {
  height: 50px;
}

.section,
.main {
  width: 96%;
}

.section {
  border: 1px solid #000;
  margin: 10px auto;
}

.spot1,
.spot2 {
  height: 40%;
}

.join,
.spot3 {
  display: none;
}

.main {
  border-bottom: 1px solid #fff;
}

.main picture img {
  margin: 20px;
}

.mainInfo,
.footer {
  position: relative;
}

.mainInfo {
  padding-bottom: 20px;
}

.mainInfo svg {
  bottom: 22px;
  left: 32%;
  height: 20px;
}
