@media (min-width: 62.5em) {
  body,
  header,
  main,
  footer {
    max-width: 1000px;
    margin: 0 auto;
  }

  nav {
    background-color: #9396a1;
    grid-row: 1;
  }

  nav ul.open,
  nav ul {
    display: flex;
  }

  nav ul li a:hover {
    color: #fff;
    background-color: rgba(42, 50, 73, 0.7);
  }

  form {
    grid-template-columns: repeat(5, 1fr);
  }

  /* ID Selector */
  #hamburgerBtn {
    display: none;
  }

  /* Class Selector */
  .social-media {
    grid-column: 2;
  }

  .check-input {
    grid-column: 5;
  }

  .checkBtn {
    margin: 27px 0 0;
    padding: 5px 10px;
  }

  .hero-container a {
    bottom: 60px;
  }

  .cards {
    margin: 10px auto 20px;
  }
}
