* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
header,
main,
footer {
  width: 100%;
  margin: 0 auto;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 210px;
}

header {
  padding: 26px 1rem;
  display: grid;
  grid-template-rows: 170px 50px;
  justify-items: center;
  align-items: center;
}

header,
footer {
  background-color: #660000;
  filter: drop-shadow(0 0 0.3rem);
}

header h1,
#footer,
#date {
  color: #ffd6d6;
}

header h1,
#footer,
#date {
  text-align: center;
}

header h1 {
  grid-row: 2;
  line-break: auto;
  padding: 15px;
}

main,
main h2,
ul {
  padding: 15px 10px;
}

main {
  padding-bottom: 50px;
}

ul li {
  list-style-type: circle;
  padding: 3px;
}

main ul {
  padding-left: 50px;
}

main h2,
ul {
  box-shadow: 0 1px #000;
}

main h2 {
  text-shadow: 1px 1px 3px;
}

footer {
  padding: 10px;
}

picture img {
  vertical-align: middle;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

/* id selector */
#footer,
#date {
  padding: 12px 0 0;
}

@media (max-width: 392px) {
  h2 {
    text-align: center;
  }
}
