* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #7a8dc0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 18px;
  height: 100vh;
  height: 100dvh;
  justify-content: center;
  width: 100%;
}

header {
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 1.5rem;
}

main {
  background-color: #1c2b5d;
  border: 1px solid #000;
  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 100%;
}

input,
button {
  font-size: 1.1rem;
  margin-left: 1rem;
  padding: 0.35rem;
}

input {
  width: 188px;
}

label {
  align-items: anchor-center;
  color: #fff;
  display: flex;
}

.input-container {
  display: flex;
  margin: 5px 20px;
}

.input-container label {
  display: flex;
}

.input-container p {
  font-size: 0.9rem;
  font-weight: 700;
  margin: auto 0;
}

.input-container button {
  align-self: center;
  min-width: 120px;
  width: 120px;
}

ul {
  list-style: none;
  margin: 1rem;
}

.list-container {
  border: 1px solid #fff;
  margin: 1rem;
  padding: 1rem;
}

.list {
  margin: 0.2rem;
}

li {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  overflow-wrap: anywhere;
}

.list li button {
  font-size: 16px;
  font-weight: 700;
  padding: 6px 10px;
}

.list li button img {
  display: block;
  width: 16px;
}

@media only screen and (min-width: 608px) {
  h1 {
    font-size: 2rem;
  }

  main {
    width: 590px;
  }
}

@media only screen and (max-width: 560px) {
  .input-container label {
    display: block;
  }

  .input-container input {
    margin-left: 0;
    margin-right: 1rem;
    width: stretch;
  }

  .input-container button {
    align-self: end;
    margin-left: 0;
  }
}

@media only screen and (max-width: 410px) {
  .input-container {
    display: block;
  }

  .input-container input {
    margin-right: 0;
  }

  .input-container button {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 160px) {
  .input-container button {
    min-width: 76px;
    width: 100%;
  }
}

@media only screen and (max-width: 120px) {
  body {
    height: auto;
    min-width: 120px;
  }
}
